
{% extends 'message/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white">
                    {{ object.name }}
                </div>
                <div class="card-body">
                    {{ object.email }}
                </div>
                <div class="card-footer">
                    <a href="{% url 'message:create_sending' object.pk %}" class="btn btn-success">Добавить в рассылку</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
