{% extends 'message/base.html' %}

{% block content %}
{% if perms.message.add_message %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'message:create_message' %}">Создать сообщение</a>
</div>
{% endif %}
{% for object in object_list %}
<div class="col-6 mb-4">
    <div class="card mb-6 box-shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="my-0 font-weight-normal">{{ object.topic }}</h4>
        </div>
        <div class="card-body">
            <h6 class="p-2">Добавил {{ object.owner }}</h6>
            <h6 class="p-2">Добавил {{ object.user|default:"admin" }}</h6>
            <div class="btn-group" role="group" aria-label="Button group">
                {% if perms.message.view_message %}
                <a href="{% url 'message:message_view' object.pk %}" class="btn btn-sm btn-primary">
                    Посмотреть
                </a>
                {% endif %}
                {% if perms.message.change_message %}
                <a href="{% url 'message:update_message' object.pk %}" class="btn btn-sm btn-success">
                    Обновить
                </a>
                {% endif %}
                {% if perms.message.delete_message %}
                <a href="{% url 'message:delete_message' object.pk %}" class="btn btn-sm btn-danger">
                    Удалить
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}
